
body{

  margin-top: 4rem;
}

.headerh1{
  font-size: 5rem;
  background: #f0c;
  background: -webkit-linear-gradient(0deg,#339,#f0c);
  background: -webkit-gradient(linear,left bottom,left top,from(#339),to(#ff00cb));
  background: -webkit-linear-gradient(bottom,#339,#ff00cb);
  background: -o-linear-gradient(bottom,#339,#ff00cb);
  background: linear-gradient(0deg,#339,#ff00cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  color: #414141;

  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
  margin: 0 0 2rem 0;
}

.nav-react{
  display: flex;
  justify-content: center;
}

.nav-react a {
  text-transform: uppercase;
  text-decoration: none;
  max-width: 50%;
  padding: 3em;
  color: #414141;

}

.nav-react a:hover {
  color: #f0c;
}

main{

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  padding: 0 8rem 0 8rem;
}